body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

.topcontainer {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

h1 {
  margin: 30px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 4.375rem;
  color: #66BFBF;
  line-height: 1
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto 0 auto;
}

.middle-container {
  margin: 50px 0 50px;

}
.Contact-message{
width: 40%;
margin: 40px auto 60px;
}
.round-pic{
  margin-top: 100px;
}
p{
  line-height: 2;
}

.intro{
  width: 30%;
  margin:auto;
}
.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 13px 20px 12px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.skill-row {
  width: 50%;
  margin: 0 auto 100px auto;
  text-align: left;
  line-height: 2;
}

.weight-img {
  width: 25%;
  float: left;
}
.web-skill-description{
  margin-top: 0;
  text-align: left;

}

.suitcase-img {
  float: left;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
